body {
    background-color: var(--void-black);
    font-family: var(--font-body);
    color: var(--light-gray);
    margin: 0;
    min-height: 100vh;
}

.main-container {
    background-color: var(--void-black);
}
